* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
}

/* all themes */
:root {
  --color--btn: #4e47ff;
  --color--text: #252432;
  --color-paragraph: #252432;
  --bg--action: rgba(230, 230, 255, 1);
  --bg-primary: #f5f8ff;
  --color--white: #fff;
}

/* common use items */
.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  margin-bottom: 13.7rem;
}

.data-title {
  font-size: 3.8rem;
}

.btn {
  background-color: var(--color--btn);
  color: var(--color--white);
  padding: 1.3rem 3.6rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #555879;
  color: var(--color--white);
  transform: translateY(0.2rem);
}

.paragraph {
  font-size: 2.4rem;
  color: var(--color-paragraph);
  opacity: 50%;
}

/* navbar and hero section start  */
header {
  padding: 1rem 0;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-size: 3.4rem;
  font-weight: bold;
  color: var(--color--btn);
}

header .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.7rem;
  height: 50vh;
}

header .hero h1 {
  font-size: 6.5rem;
  text-align: center;
  color: var(--color--text);

  & span {
    color: var(--color--btn);
  }
}
/* navbar and hero section end  */

/* action section start  */
.action-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;
  margin-top: 10rem;
}
a {
  text-decoration: none;
}
.action-section figure img {
  width: 100%;
}

.action-section .section-title {
  font-size: 4.2rem;
}

.action-section--content {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
/* action section end */

/* data section start */
.data-div {
  display: flex;
  justify-content: space-around;
}
.data-title {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3.8rem;
  font-weight: bold;
}
.data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.data-card .data-count {
  color: #4e47ff;
  font-size: 8rem;
  font-family: "Inter", sans-serif;
}

.data-card .paragraph-2 {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  opacity: 50%;
}

.data-section {
  background-color: var(--bg--action);
  padding: 5rem 8rem;
  border-radius: 2.4rem;
}

/* data section end */
/* user section start  */
.user-title {
  font-size: 4.2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.user-data {
  display: flex;
  gap: 2rem;
}

.user-card {
  padding: 2.4rem;
  background-color: var(--color--white);
  border: 0.2rem solid #f2eded;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 1.4rem;
}
.icons {
  display: flex;
  gap: 0.1rem;
}

.user-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.user-sub--title {
  font-size: 2.4rem;
}
.user-info {
  font-size: 1.6rem;
}
.user-name {
  font-size: 1.6rem;
  color: 757575;
  opacity: 60%;
  font-weight: bold;
}
.user-date {
  font-size: 1.6rem;
  opacity: 50%;
  font-weight: 300;
}

.users-profile img {
  border-radius: 50%;
  width: 100%;
}
.users-profile {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.user-name--date {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-family: "Inter", sans-serif;
}
/* user section end  */
/* focus section start */

.focus-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.focus-section figure img {
  width: 100%;
  border-radius: 4.8rem;
}

.focus-title {
  font-size: 5rem;
  font-weight: bold;
}
.paragraph-3 {
  font-size: 1.6rem;
  opacity: 50%;
}
/* focus section end */
/* contact section start */
.contact-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-title {
  font-size: 9.7rem;
}
.title-box,
.form-box {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
textarea {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 2rem;
  outline: none;
  border: 0.1rem solid #d6dded;
  border-radius: 1rem;
  font-family: "Inter", sans-serif;

  &::placeholder {
    color: #252432;
    font-weight: 300;
    opacity: 50%;
  }
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & label {
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
  }
}

form {
  & .btn {
    margin-top: 2rem;
  }
}
/* contact section end */
/* footer section start */
footer {
  border-top: 2px solid #f2eded;
  padding: 10.4rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-logo {
  font-size: 10rem;
  text-align: center;
  color: var(--color--btn);
}

.paragraph-4 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #252432;
}

.footer-links {
  display: flex;
  gap: 4rem;
  justify-content: center;
  font-size: 1.6rem;

  & a {
    text-decoration: none;
    color: #252432;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
  }
}

footer .container {
  margin-bottom: 0;
}
/* footer section end */
